//- header

mixin head(titlename)
  doctype 5
  html
    head
      title= titlename
      if dev
        link(rel='stylesheet', href='assets/reset.min.css')
      else
        link(rel='stylesheet', href='_mods/reset.css')
        link(rel='stylesheet', href='_mods/basic.css')
        link(rel='stylesheet', href='_mods/nav/nav.css')
        link(rel='stylesheet', href='_mods/main/main.css')
    body
      block content