- var navCur = 'home'
- var title = "page-title"


include _mods/_inc/_header
+head(title)

block content

  //- main nav
  include _mods/nav/nav
  +navshow(navCur)

  .main
    .content
      h2 标题1
      .tag
        ul
          li javascript
          li css
          li 标签
        em 2013-11-17
      :markdown

      include js/2013/1117/test.md

include _mods/_inc/_footer