//- home page

- var navCur = 'Home'
- var title = "枫之舞-代码里遨游"

//- header
include _mods/_inc/_header
+head(title)

block content
  
  //- main nav
  include _mods/nav/nav
  +navshow(navCur)

  h1= title
  p Welcome to index111 #{title}
  section section

include _mods/_inc/_footer