//- main nav

mixin navshow(current)
  header.header
    nav
      h3 title
      ul
        - if ( current == 'home' )
            li(class="home cur")
              a(href="index.html") home
        - else
            li(class='home')
              a(href='index.html') home

        - if ( current == 'js' )
            li(class='js cur')
              a(href='js/index.html') Js
        - else
            li(class='js')
              a(href='js/index.html') Js

        - if ( current == 'css' )
            li(class='css cur')
              a(href='css/index.html') Css
        - else
            li(class='css')
              a(href='css/index.html') Css
