// 
//
//

@import 'global'

$height: 40px
.header
  height: $height
  width: 100%
  background-color: $top_bg
  border-bottom: 1px solid $border_color
  box-shadow: 1px 1px 4px #eee
  position: fixed
  top: 0

  nav
    width: 80%
    max-width: 1000px
    margin: auto

  h3
    float: left
    font-size: 1.6em
    line-height: 1.6em
  ul
    float: left
    margin: 12px 0 0 100px
  li
    float: left
    line-height: 1.8em
    padding: 0 10px
    margin: 0 5px

    a
      color: #444
      &:hover
        color: $blue
        text-decoration: none

    &.cur
      border-bottom: 1px solid $blue
      a
        color: $blue