/* line 8, nav.sass */
.header {
  height: 40px;
  width: 100%;
  background-color: rgba(255, 255, 255, 0.9);
  border-bottom: 1px solid #e5e5e5;
  box-shadow: 1px 1px 4px #eeeeee;
  position: fixed;
  top: 0;
}
/* line 17, nav.sass */
.header nav {
  width: 80%;
  max-width: 1000px;
  margin: auto;
}
/* line 22, nav.sass */
.header h3 {
  float: left;
  font-size: 1.6em;
  line-height: 1.6em;
}
/* line 26, nav.sass */
.header ul {
  float: left;
  margin: 12px 0 0 100px;
}
/* line 29, nav.sass */
.header li {
  float: left;
  line-height: 1.8em;
  padding: 0 10px;
  margin: 0 5px;
}
/* line 35, nav.sass */
.header li a {
  color: #444444;
}
/* line 37, nav.sass */
.header li a:hover {
  color: #0071c5;
  text-decoration: none;
}
/* line 41, nav.sass */
.header li.cur {
  border-bottom: 1px solid #0071c5;
}
/* line 43, nav.sass */
.header li.cur a {
  color: #0071c5;
}
