//- main nav

mixin navshow(current)
  header.header
    h2 枫之舞
    nav
      ul
        each val, index in ['Home', 'Js', 'Css']
          if ( current == val )
            li(class='#{val} cur')
              a(href="#")= val
          else
            li(class='#{val}')
              a(href="")= val
